* {
    margin: 0%;
    padding: 0%;
}

.login-body {
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.home-blur {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.login-content {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 390px;
    padding: 40px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(255, 77, 77, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

.login-content h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}

.log-email label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.login-password label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.log-email input {
    width: 100%;
    margin-top: 6px;
    padding-top: 7px;
    padding-left: 8px;
    padding-bottom: 7px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    outline: none;
    border: 1px solid gainsboro;
    font-size: 15px;
}

.login-password input {
    width: 100%;
    margin-top: 6px;
    border: 1px solid gainsboro;
    padding-top: 7px;
    padding-left: 8px;
    padding-bottom: 7px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    outline: none;
    font-size: 15px;
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.or span {
    font-size: 20px;
    font-weight: 600;
}

.or .line {
    border: 1px solid;
    height: 1px;
    background-color: #444;
    width: 30%;
    border: none;
}

.forgot {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

.login-getstarted {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.login-account {
    margin-top: 10px;
    font-size: 14px;
}
.cross{
    border: none;
    background: none;
    font-size: 20px;
    position: absolute;
    left: 85%;
    top: 20px;
}
/* @media (min-width:0px) and (max-width:480px) {
    .login-content {
        top: 130px;
        left: 120px;
        width: 260px;
        height: 300px;
        gap: 10px
    }

    .log-email input {
        width: 150px;
    }

    .login-password input {
        width: 125px;
    }

    .login-getstarted {
        font-size: 15px;
        padding: 12px 24px 12px 24px;
    }

    .cross {
        left: 90px;
        height: 20px;
    }

    .login-content h1 {
        font-size: 23px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .login-content {
        top: 130px;
        left: 120px;
        width: 280px;
        height: 380px;
        padding-bottom: 10px;
    }

    .log-email input {
        width: 170px;
    }

    .login-password input {
        width: 139px;
    }

    .login-getstarted {
        font-size: 15px;
        padding: 12px 24px 12px 24px;
    }

    .cross {
        left: 90px;
        height: 20px;
    }

} */